:root {
  --ff-primary: 'Inter', sans-serif;
  --ff-secondary: 'Karla', sans-serif;

  --fc-primary: #55F991;
  --fc-secondary: #D5D4D8;

  --bg-primary-color: #1F2937;
  --bg-secondary-color: #273549;

  --btn-primary-background-color: #10B981;

  --btn-focus-color: #0d9e6f;

  --input-focus-background-color: #364153;

  --white: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--ff-primary);

  background-color: var(--bg-primary-color);

  max-width: 550px;

  margin: 0 auto;
}

#main-container {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding: 116px 52px;
}

#main-title {
  font-family: var(--ff-secondary);
  font-size: calc((40/16) * 1rem);
  font-weight: 800;
  line-height: 40px;
  letter-spacing: -0.025em;
  text-align: left;

  color: var(--white);

  margin-bottom: 10px;
}

#main-title #main-title-span {
  color: var(--fc-primary);
}

#sub-title {
  font-style: normal;
  font-weight: 400;
  font-size: calc((20/16) * 1rem);
  line-height: 28px;

  color: var(--fc-secondary);

  margin-bottom: calc(52/16 * 1rem);
}

form#password-form{
  width: 100%;
}

.password-options-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-wrap: wrap;
  flex-basis: content;

  gap: 20px;

  margin-bottom: calc(40/16 * 1rem);
}

.password-options-label {
  color: var(--fc-secondary);
  font-weight: bold;
}

.password-options-label::after{
  content: ": ";
}

.password-length-container {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: calc(36/16 * 1rem);
}

#password-length-input {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 8px;
  background: var(--bg-secondary-color);
  border-radius: 5px;
  outline: none;
  transition: all 0.07s ease;
}

#password-length-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--btn-primary-background-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.07s ease;
}

#password-length-input::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--btn-primary-background-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.07s ease;
}

#password-length-input::-ms-thumb {
  width: 20px;
  height: 20px;
  background: var(--btn-primary-background-color);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: all 0.07s ease;
}

#password-length-input:hover {
  background: var(--input-focus-background-color);
}

#password-length-input:hover::-webkit-slider-thumb {  
  transform: scale(1.10)
}

#password-length-input:hover::-moz-range-thumb {
  transform: scale(1.10)
}

#password-length-input:hover::-ms-thumb {
  transform: scale(1.10)
}

#password-length-input:focus::-webkit-slider-thumb {
  outline: 3px solid var(--btn-primary-background-color);
  outline-offset: 2px;
}

#password-length-input:focus::-moz-range-thumb {
  outline: 3px solid var(--btn-primary-background-color);
  outline-offset: 2px;
}

#password-length-input:focus::-ms-thumb {
  outline: 3px solid var(--btn-primary-background-color);
  outline-offset: 2px;
}

output#password-length-output {
  color: var(--fc-secondary);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
}

.password-checkbox-container {
  width: 100%;
  
  display: flex;
  flex-flow: row wrap;
  gap: 20px;

  justify-content: space-between;

  margin-bottom: calc(36/16 * 1rem);
}

.checkbox-wrapper {
  display: flex;
  flex-basis: content;
  gap: 10px;
}

.btn-light {
  display: flex;

  border: none;

  cursor: pointer;
}

.btn-light:active {  
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#btn-generate-password {
  padding: 0.5rem 1rem;

  background: var(--btn-primary-background-color);

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;

  margin-bottom: calc(36/16 * 1rem);

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 24px;

  color: var(--bg-secondary-color);
}

.divider {
  width: clamp(250px - 30%, 100%, 446px);
  border: 1px solid var(--bg-secondary-color);
}

.divider#between-generate-and-password {
  margin-bottom: calc(36/16 * 1rem);
}

.password-output-container {
  width: 100%;
  display: flex;
  gap: 20px;
}

.password-output {
  width: 210px;
  height: auto;

  text-align: center;
  color: var(--fc-primary);

  background: var(--bg-secondary-color);
  border-radius: 6px;
  border: none;

  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 32px;
  text-align: center;

  padding: 0 8px;

  text-overflow: ellipsis;
}

.password-output::placeholder {
  color: var(--fc-secondary);
  text-align: center;
  text-overflow: ellipsis;
}

#btn-copy-to-clipboard {
  height: 40px;
  width: 40px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: var(--btn-primary-background-color);
  border-radius: 6px;
  border: none;
  
  cursor: pointer;
  transition: all 0.2s ease;
}

#btn-copy-to-clipboard svg {
  color: var(--bg-secondary-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--btn-primary-background-color);
  color: var(--white);
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.toast.show {
  opacity: 1;
  visibility: visible;
}

/* Efeitos de transição */

/* Estilo personalizado para botoões claros */
#btn-generate-password:hover {
  background-color: var(--btn-focus-color);  
  transition: all 0.07s ease;
}

#btn-copy-to-clipboard:hover {
  background-color: var(--btn-focus-color);  
  transition: all 0.07s ease;
}

/* Removendo o contorno padrão com um estilo personalizado */
*:focus-visible {
  outline: 3px solid var(--btn-primary-background-color);
  outline-offset: 2px;
  border-radius: 4px;
}

/* Media queries */

@media screen and (max-width: 600px) {
  #main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 40px;
  }

  #main-title {
    text-align: center;
    margin-bottom: calc(20/16 * 1rem);
  }

  #sub-title {
    text-align: center;
    margin-bottom: calc(36/16 * 1rem);
  }

  .password-options-container{
    flex-direction: column;    
    gap: 30px;
  }

  .password-length-container{
    flex-direction: column;    
    gap: 20px;
  }

  /* .password-checkbox-container{
    flex-flow: column wrap;
  } */

  .checkbox-wrapper {
    width: 100%;
  }

  #btn-generate-password {
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .divider {
    width: 100%;
  }

  .password-output{
    width: 100%;
  }
}